<div class="container mt-4">

  <%= link_to sanitize("&larr; Back to restaurant"), restaurant_path(@restaurant) %>

  <div class="row">
    <h1>Edit reservation</h1>
  </div>

  <%= turbo_frame_tag "remote_modal" do %>
    <%= render "layouts/modal_content", title: "Edit reservation" do %>
      <%= render "form", restaurant: @restaurant, reservation: @reservation %>
    <% end %>
  <% end %>
</div>
