<div class="container">
  <!-- Header -->
  <div class="row align-items-center my-4">
    <div class="col">
      <h1>Restaurants</h1>
    </div>
    <div class="col-auto">
      <%= link_to "New restaurant", new_restaurant_path, data: {turbo_frame: "remote_modal"}, class: "btn btn-primary" %>
    </div>
  </div>

  <!-- Restaurants index -->
  <section>
    <%= turbo_frame_tag "restaurants", class: "row row-cols-1 row-cols-sm-2 row-cols-md-3" do %>
      <%= render "empty_state" %>
      <%= render @restaurants %>
    <% end %>
  </section>
</div>
