<div class="container mt-4">

  <%= link_to sanitize("&larr; Back to restaurants"), restaurants_path %>

  <div class="row">
    <h1>New restaurant</h1>
  </div>
  <%= turbo_frame_tag "remote_modal" do %>
    <%= render "layouts/modal_content", title: "New restaurant" do %>
      <%= render "form", restaurant: @restaurant %>
    <% end %>
  <% end %>
</div>
