<% flash.each do |flash_type, message| %>
  <div class="alert alert-warning alert-dismissible fade show mt-4 flash-message position-absolute top-0 end-0 me-4" role="alert" data-controller="removals" data-action="animationend->removals#remove">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
